
body {
    height: 100vh;
    background-color: #cc2b5e ; 
    margin-left: 0;
  }


nav{
    margin:27px auto 0 ;
    position: relative;
    width: 800px;
    height: 30px;
    border-radius: 8px;
    font-size: 0;
    justify-content: center;
    text-align: center;
  }
nav a{
    line-height: 30px;
    height: 100%;
    font-size: 20px;
    font-family:Marko One;
    display: inline-block;
    padding:15px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: #2bcc99;
    cursor: pointer;
  }



a:hover{
  box-shadow: 0px 0px 6px 6px  #753a88;
  border-radius: 10px;
  transition: 0.3s;
}

.container{
    display: block;
    margin-top: 30px;
    justify-content: center;
    margin-left: 45px;

}
.about{
  margin: 15px;
  margin-top: 100px;
  width: 1200px;
  padding: 10px;
  height:400px;
  display: none;
}
img{
  width: 350px;
  height: 300px;
  border-radius: 50%;
  margin-right: 40px;
  box-shadow: 0px 0px 15px px black;
}

.first{
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  margin-top: 50px;
  
}
.me{
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 100px;
  font-family: fantasy;
}

.skills{
  margin: 15px;
  margin-top: 150px;
  width: 1200px;
  padding: 10px;
  height:300px;
  text-align: center;
  justify-content: center;
  display: none;
}
.icon{
  width: 120px;
  height: 120px;
  border-radius: 0;
  margin-bottom: 10px;
}
ul{
  display:inline-flex;
  margin-top: 10px;
  list-style:none;
}
li{
  padding: 70px;
  text-align: center;
}
ul li p{
  font-family:fantasy ;
  font-size: 30px;
  color: #ffffff;
  margin-right: 40px;
  letter-spacing: 0.5px;
}

.projects{
  margin: 15px;
  margin-top: 80px;
  width: 1200px;
  padding: 10px;
  height:450px;
  text-align: center;
  display: none;
}
.proj{
  font-size: 30px;
  color: #ffffff;
  padding: 4px;
  margin: 5px;
}
.link{
  text-decoration: none;
  color:  #000000;
  font-size: 30px;
  padding: 5px;
}
 div.projects p.proj a:hover{
  box-shadow: 0px 0px 6px 6px  #753a88;
}

.language{
  margin: 15px;
  margin-top: 130px;
  width: 1200px;
  padding: 10px;
  height:300px;
  text-align: center;
  display: none;
}
.lan{
  display: inline-flex;
}
.lan li{
    padding: 90px;
    font-size: 25px;
    color: #ffffff;
}
.lan li span{
  font-size: 50px;
  font-family: fantasy;
  color: #ffffff;

}

.education{
  margin: 15px;
  margin-top: 150px;
  width: 1200px;
  padding: 10px;
  height:300px;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  display: none;
}
.edu{
  padding: 20px;
}
.education .edu span{
  font-size: 25px;
}

.contact{
  margin: 15px;
  margin-top: 150px;
  width: 1200px;
  padding: 10px;
  height:300px;
  text-align: center;
  display: none;
}
.cont li{
  padding: 40px;
  margin-top: 40px;
}
.contact a:hover{
  box-shadow: 0px 0px 6px 6px  #2bcc99;
  transition: 0.3s;
}
.fa {
  padding: 15px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  font-size: 30px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 30px;

}
.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 30px;

}

.fa-instagram {
  background: #125688;
  color: white;
  font-size: 30px;

}

@media all and (max-width:750px){
  nav {
    width:100%;
    justify-content: center;
    text-align: center;
  }
}

@media all and (max-width:1105px){
  .language , .contact , .education , .about , .projects , .skills, .container{
    width: 100%; 
    justify-content: center;
    text-align: center;
    margin-left: 0;
    padding: 0;
    margin-top: 210px;
    margin-bottom: 30px;
  }
}
 
@media all and (max-width:1105px){
   .lan ,.cont , .me ,.first, .skills ul{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
  }
}

@media all and (max-width:1105px){
  .skills{
    width: 100%; 
    justify-content: center;
    text-align: center;
    margin-left: 0;
    padding: 0;
    margin-top: 190px;
    padding-left: 25px;
  }
}

@media all and (max-width:640px){
  img{
    justify-content: center;
    padding-left: 5px;
  }
}

